<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        
            <div class="min-h-screen flex justify-center items-center">
                <div class="flex selection:bg-yellow-300 space-x-3 w-full justify-center">
            <p>404</p>
            <span class="h-6 w-[1.5px] bg-gray-900"></span>
            <p>Not found</p>

                </div>
            </div>
    </NotFound>
</Router>
