@page "/user/cart"
@layout CartLayout;
@attribute [Authorize(Roles = "Administrator,user")]
@using oswald_online_shop.Data.ProductServices


        <div class="grid grid-cols-12 gap-14 selection:bg-yellow-300">
      
      @if (products == null)
{

     <div class="col-span-8">
            <div class="w-full">

      <div class="ml-8 p-10 w-full shadow-lg rounded-lg bg-white hover:bg-slate-50 transition-colors duration-300 flex">
          <div class="basis-1/4">
          </div>
          <p class="text-3xl font-bold">No hay articulos en el carrito</p>
        </div>

                </div>
                </div>

                          <div class="col-span-3 ">
            <div class="w-full">
              

      <div class=" p-10 w-full shadow-2xl rounded-lg bg-white hover:bg-slate-50 transition-colors flex duration-300 ">

          <div class="basis-3/4">
            <p class="font-semibold text-lg mb-2">Total a pagar</p>
            <button class="bg-yellow-400 hover:bg-yellow-500 hover:transition-colors py-1 px-3 rounded-lg duration-500 mt-5 text-white">Proceder al pago</button>
          </div>
      </div>
      
      
            </div>
          </div>
}else{
          <div class="col-span-8 mb-10">
            <div class="w-full">
                  @foreach(var product in products)
    {
      <div class="ml-8  p-10 w-full border-b-2 border-gray-100 drop-shadow-m rounded-lg bg-white hover:bg-slate-50 transition-colors duration-300 flex">
            <input type="checkbox" class="self-center accent-pink-500 mr-6">

          <div class="w-1/4 mr-10 ">
<img class="object-cover rounded h-56 w-full" src="@product.photoURL" alt="">

          </div>
          <div class="basis-3/4">
            <p class="font-semibold text-lg mb-2">@product.name</p>
            <p class="font-thin">@product.category.</p>
            <button class="bg-amber-600 hover:bg-amber-700 hover:transition-colors py-1 px-3 rounded-lg mt-5 text-white">Comprar ahora</button>
          </div>
        </div>

    }
        
            </div>
          </div>
          <div class="col-span-3 ">
            <div class="w-full">
              

      <div class=" p-10 w-full shadow-2xl rounded-lg bg-white hover:bg-slate-50 transition-colors flex duration-300 ">

          <div class="basis-3/4">
            <p class="font-semibold text-lg mb-2">Total a pagar</p>
    
            <h2 class="font-semibold text-lg mb-2">@sumaPrecio</h2>
    
            <button class="bg-yellow-400 hover:bg-yellow-500 hover:transition-colors py-1 px-3 rounded-lg duration-500 mt-5 text-white">Proceder al pago</button>
          </div>
      </div>
      
      
            </div>
          </div>
}
        </div>




@code {

    public  static IEnumerable<Product> products{ get; set; }
      public double sumaPrecio{ get; set; }
    public static MyDBContext MydbContext = new MyDBContext();
    private static ProductService productServices = new ProductService(MydbContext);
    protected override async Task OnInitializedAsync()
    {           
        try
        {
            products = await productServices.getAllProducts();
        }
        catch (Exception e)
        {
            throw e;
        }

    }

   protected override void OnInitialized(){

     if(products == null){
       Console.WriteLine("No hay articulos en el carrito");
     }else{
                                     foreach(var product in products){
                                sumaPrecio += product.price;
                              }
     }


   }

}


