@page "/user/register"
@layout Simple;
@inject NavigationManager NavigationManager
@using oswald_online_shop.Data
@inject AuthenticationStateProvider authStateProvider


<AuthorizeView>

<Authorized>

<div class="min-h-screen flex flex-col mt-26 items-center space-y-4" >
<h3 class="text-2xl font-normal text-red-400">Ya estas autoriazdo para accerder a esta ruta </h3>

<div class="relative inset-x-0 flex justify-center group">
    <span class="absolute  bg-indigo-500 w-36 rounded-lg transform translate-x-9 translate-y-6 h-12 transition duration-500 group-hover:translate-y-0 group-hover:translate-x-0"></span>

  <span class="absolute  bg-black w-44 rounded-lg group-hover:translate-x-0 transform translate-x-3 translate-y-3.5 group-hover:translate-y-0 h-12 transition duration-500"></span>

<a class="relative text-blue-300 w-44 text-center rounded-lg text-xl cursor-pointer bg-white shadow-xl px-3 py-3 group-hover:bg-slate-800 group-hover:text-white transition duration-500 font-semibold" href="/productlist ">Volver al inicio</a>
</div>
</div>
    </Authorized>


<NotAuthorized>
<div>
    @if (@msg != "")
            {
                <div class="w-full  mx-auto relative top-1 flex justify-center ">
                    <div class="absolute w-1/4 bg-yellow-400 py-3 border-b-4 border-yellow-600 rounded-md">
                    <div class="flex justify-center items-center">
                                                <h1 class="text-center text-black font-semibold">@msg</h1>

                                                <button @onclick="message" class="ml-5 bg-red-500 rounded-full w-5 hover:rotate-45 transition duration-500"><svg class="fill-current h-5 text-white hover:rotate-45 transition duration-500 "xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"/></svg></button>

                    </div>

                    </div>
                </div>


            }
    <div class="w-96 bg-white rounded-tr-3xl  rounded-bl-3xl mx-auto overflow-hidden shadow-xl hover:shadow-2xl transition duration-300 mb-10">

        <div class="px-10 pt-4 pb-8 bg-white dark:bg-gray-800  ">
          <h1 class="text-2xl font-semibold text-gray-900 dark:text-gray-100 text-center">Registro</h1>
          <div class="mt-12" >
            
              <div class="relative">
              <input id="email" @bind="client.name" name="email" type="text" class="peer h-10 w-full border-b-2 border-gray-300 dark:bg-gray-800  text-gray-900 placeholder-transparent dark:text-gray-100  focus:outline-none focus:border-rose-600" placeholder="JohnDoe" />
              <label for="email" class="absolute left-0 -top-3.5 text-gray-600 text-sm transition-all peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2 peer-focus:-top-3.5 peer-focus:text-gray-600  peer-focus:text-sm">Nombre</label>
            </div>

            <div class="mt-10 relative">
              <input id="lastName" type="text" @bind="client.lastName" name="password" class="peer h-10 w-full border-b-2 border-gray-300 dark:text-gray-100  dark:bg-gray-800  text-gray-900 placeholder-transparent focus:outline-none focus:border-rose-600" placeholder="Password" />
              <label for="lastName" class="absolute left-0 -top-3.5 text-gray-600 text-sm transition-all peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2 peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">Apellido</label>
            </div>


            <div class="mt-10 relative">
              <input @bind="client.email" id="Email" type="email" name="password" class="peer h-10 w-full border-b-2 border-gray-300 dark:text-gray-100  dark:bg-gray-800  text-gray-900 placeholder-transparent focus:outline-none focus:border-rose-600" placeholder="Email" />
              <label for="Email" class="absolute left-0 dark:text-gray-100  -top-3.5 text-gray-600 text-sm transition-all peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2 peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">Correo</label>
            </div>

                  <div class="mt-10 relative">
              <input id="date" type="date" @bind="date" min="1950-01-01" class="peer h-10 w-full border-b-2 border-gray-300  dark:bg-gray-800  text-gray-900 placeholder-transparent focus:outline-none text-black dark:text-gray-100 focus:border-rose-600" placeholder="Birth Day" />
            </div>

            <div class="mt-10 relative">
              <input id="Password" type="Password" @bind="password" class="peer h-10 w-full border-b-2 border-gray-300 dark:text-gray-100  dark:bg-gray-800  text-gray-900 placeholder-transparent focus:outline-none focus:border-rose-600" placeholder="Email" />
              <label for="Password" class="absolute left-0 -top-3.5 text-gray-600 text-sm transition-all peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2 peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">contrase単a</label>
            </div>

            <div class="mt-10 relative">
              <input id="Corfirm_Password" type="password" @bind="confirPassword" class="peer h-10 w-full border-b-2 dark:text-gray-100  dark:bg-gray-800  border-gray-300 text-gray-900 placeholder-transparent focus:outline-none focus:border-rose-600" placeholder="Corfirm_Password" />
              <label for="Corfirm_Password" class="absolute left-0 -top-3.5 text-gray-600 text-sm transition-all peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2 peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">Confirmar contrase単a</label>
            </div>


            <button @onclick="addUser" class="mt-12 px-4 py-2 rounded-lg bg-rose-500 hover:bg-red-400 text-white font-semibold text-center block w-full transition duration-500   cursor-pointer">Registrar</button>
          </div>
          <div class="flex flex-col">


                    <a href="user/login" class="mt-4 block text-sm text-center font-medium text-gray-600 hover:underline focus:outline-none focus:ring-2 focus:ring-rose-500 dark:text-gray-100 ">多Ya tienes una cuenta?</a>
            </div>

        </div>
      </div>
      </div>
    </NotAuthorized>

</AuthorizeView>



     

@code{

    //Contexto
    private static MyDBContext myDBContext = new MyDBContext();

    //servicios
    private UserService userService = new UserService(myDBContext);
    private ClientService clientService= new ClientService(myDBContext);
    private CartService cartService = new CartService(myDBContext);

    //Instancias
    private User user     = new User();
    private Client client = new Client();
    private Orders order = new Orders();
    private Cart cart = new Cart();
    //Variables
    private string confirPassword;
    private string password;
    private string msg ="";
    private DateTime date = DateTime.Now;
void message(){
  msg = "";
}


    private async Task addUser()
    {
        //client

        //user
        user.username = client.email;
        user.pwd = password;
        user.clientId = client.email;

        //Cart
        cart.idClient = client.email;
        cart.location = "Santo Domingo";
        client.cartId = client.email;
        //birthDays
        client.birthDay = date;

        List<string> datos = new List<string>(){client.name,client.lastName,client.email,Convert.ToString(client.birthDay), password, confirPassword};
        if(validation.validateFields(datos)) 
        {
            msg = "Hay campos vacios";
        }
        else
        {
            if (password==confirPassword)
            {
                try{
                    await clientService.insertClient(client);
                    await userService.insertUser(user);
                    await cartService.insertCart(cart);
                    NavigationManager.NavigateTo("/user/login");   
                }catch(Exception e)
                {
                    throw e;
                }
            }
            else
            {
                msg="Las contrase単as no coinciden";
            }

        }
    }

}