@inherits LayoutComponentBase

<PageTitle>oswald_online_shop</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main >
            @Body
    </main>
</div>
